<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        
    </head>

<style>
    p{
        
        background-color: rgb(46, 12, 170);
        width: 200px;
        height: 200px;
        list-style: none;
        display: flex;
        flex-direction: row;
        border: black solid;
        margin: 100px;
        background-color: {{color}};
        color:{{color}} ;
        
    }

    .box{
        list-style: none;
        display: flex;
        flex-direction: row;


    }



    h1{
        text-align: center;
    }



</style>
    <body>
        <h1>Hello World</h1>


        <div class="box">
            {% for i in range (0,times) %}
                    <p>{{times}},{{color}}</p>
            {%endfor%}
        </div>

        
    </body>
</html>


